@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply m-0 font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}